

/* Theme from Bootswatch */
@import url('theme.css');

  body {
    padding-top: 70px;
  }


  #name {
  	font-weight: bold;
  	font-size: 60px;
  }
  #name span {
  	color: #999;
  }

  #note span {
    font-weight: bold;
  }